<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.audit.mapper.audit.AuditBookInfoMapper">

    <resultMap type="com.example.audit.DO.AuditBookInfoDO" id="AuditBookInfoDOResult">
        <id property="id" column="id"/>
        <result property="bookIdCenter" column="bookid_center"/>
        <result property="bookIdMigu" column="bookid_migu"/>
        <result property="auditorFirst" column="auditor_first"/>
        <result property="auditorReview" column="auditor_review"/>
        <result property="auditState" column="audit_state"/>
        <result property="submitTime" column="submit_time"/>
        <result property="auditResultEnum" column="audit_result_enum"/>
        <result property="auditResultId" column="audit_result_id"/>
        <result property="reverseState" column="reverse_state"/>
        <result property="finalResult" column="final_result"/>
    </resultMap>

    <insert id="insertAuditBookByBookId"  parameterType="com.example.audit.DO.AuditBookInfoDO">
         insert into audit_book_info (bookid_center,audit_state,submit_time,reverse_state)
         values(#{auditBookInfoDO.bookIdCenter},#{auditBookInfoDO.auditState},#{auditBookInfoDO.submitTime},
         #{auditBookInfoDO.reverseState})
    </insert>

    <update id="updateAuditBookByBookId"  parameterType="com.example.audit.DO.AuditBookInfoDO">
         update audit_book_info set audit_state=#{auditBookInfoDO.auditState} where bookid_center = #{auditBookInfoDO.bookIdCenter}
    </update>

    <sql id="selectMenuVo">
        select c.id, c.book_id, c.order, c.name, c.file_url, c.gmt_create
		from chapter c
    </sql>
</mapper>
